.projects {
    &__heading {
        font-family: $Poppins;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 20px;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__item {
        flex-direction: column;
        font-family: $Poppins;
        margin-bottom: 15%;

        &:nth-child(1) {
            @media (min-width: 768px) {
                margin-right: 10%;
            }
        }
    }


    &__picture img {
        width: 100%;
    }


    &__name h3 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    &__description {
        font-size: 1rem;
        max-width: 400px;
    }

}